.header {
    margin-top: 15%;
    position: relative;
    background: #323a45;
    padding: 30px 0 25px;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 4px 2px 0 0;
    border-radius: 8px 8px 0 0;
    text-align: center;
}

.container-form {
    padding: 6px;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    max-width: 600px;
}

@media only screen and (min-width: 601px) {
    .container-form {
        padding: 0 1.5rem;
        width: 85%;
    }
}

@media only screen and (min-width: 993px) {
    .container-form {
        padding: 0 1.5rem;
        width: 70%;
    }
}

.container-form .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.content {
    position: relative;
    background: #FFF;
    padding: 30px 0 25px;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    text-align: center;
}

.btn-sign {
    color: #fff;
    background: #f36;
    line-height: 1em;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    width: 100%;
    text-transform: uppercase;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    padding: 23px 0;
    font-size: 16px;
    font-weight: 500;
}

.legalNotice {
    text-align: center;
    color: #838585;
    font-weight: 300;
    font-size: 13px;
}

.legalNotice a {
    text-decoration: underline;
    color: #838585;
}

div.subSignupForm {
    text-align: center;
    color: #B1B4B8;
    font-weight: 300;
    font-size: 13px;
    margin-top: 25px;
}

div.subSignupForm a {
    text-decoration: underline;
    color: #e91e63;
}

html body {
    background-color: #2D3247
}
